@using Tasks.Service.CalendarEvents.Dto
@model Tasks.ViewModels.CalendarEvents.CalendarEventsViewModel

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">

            <table class="table">
                <tbody id="taskResultsTableBody">
                    @foreach (CalendarEventDto calendarEvent in Model.CalendarEvents)
                    {
                        <tr data-taskid="@calendarEvent.Id">
                            <td>@calendarEvent.Id</td>
                            <td>@calendarEvent.Description</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
