<?xml version="1.0"?>
<connectionStrings>
  <add
    name="Local" 
    connectionString= "Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename = &quot;D:\Users\Dale.Morgan\Documents\Visual Studio 2017\Projects\Tasks\Tasks\App_Data\Tasks.mdf&quot;; Integrated Security = True"
  />
</connectionStrings>
