@using Tasks.Service.Aside.Dto
@using Tasks.ViewModels.Aside
@model AsideViewModel

<div class="aside-tabs">
    
<ul>
    @{
        var orderedTabs = Model.VisibleTabsList
            .OrderBy(x => x.OrderNumber)
            .Reverse() //Reverse as tabs are reversed using css
            .ToList();
    }
    @foreach (var tab in orderedTabs)
    {
        <li>
            <div class="rotate">@tab.Name</div>
        </li>
    }
</ul>
</div>

<div class="aside-content">
    @{ Html.RenderAction("GetDefaultAsideContent"); }
</div>