<nav id="header" class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" id="sidebarCollapse" class="brand">
                Task Funnel
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        </div>
    </div>
</nav>

