<nav id="sidebar">


    <ul class="list-unstyled components">
        <li class="active">
            <a id="#btn-menu-thoughts" data-toggle="collapse" aria-expanded="false">
                <i><img src="~/Images/Icons/S/idea.png" /></i>
                Thoughts
            </a>
        </li>
        <li>
            <a href="#">
                <i><img src="~/Images/Icons/S/clipboard.png" /></i>
                Tasks
            </a>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                <i><img src="~/Images/Icons/S/loop.png" /></i>
                Habits
            </a>
        </li>
        <li>
            <a href="#">
                <i><img src="~/Images/Icons/S/cup.png" /></i>
                Goals
            </a>
        </li>
        <li>
            <a href="#">
                <i><img src="~/Images/Icons/S/calendar.png"/></i>
                Schedule
            </a>
        </li>
        <li>
            <a href="#">
                <i><img src="~/Images/Icons/S/hourglass.png" /></i>
                History
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Milestones</a></li>
                <li><a href="#">Timeline</a></li>
            </ul>
        </li>
    </ul>
</nav>

