@using System.Web.Mvc.Html
@model Tasks.ViewModels.Projects.ProjectEditViewModel

<h4 class="modal-title">Add a task</h4>

@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "Add_Form"}))
{
    @Html.AntiForgeryToken()

    <h3>Description</h3>
    @Html.TextBoxFor(model => model.Description, new {@id = "Edit_Description", @class = "form-control", PlaceHolder = "Project description"})

    <p>Once added you can drag tasks to this project</p>

    <button id="editProject">Save Project</button>

    <h3>Delete all tasks within project?</h3>
    <input type="checkbox"/>
    <button id="deleteProject">Delete Project</button>
}
    