@using Tasks.Models.DomainModels.Enum
@using Tasks.Service.Projects.Dto
@using Tasks.ViewModels.Projects
@model ProjectsViewModel

@foreach (ProjectWithItemsDto project in Model.Projects)
{
    <div class="card project-container">

        <div class="projectRow" >
            <h3>@project.Description </h3>    
        </div>                
        
        <div>
            @Html.Partial("_ProjectWithItems",project)
        </div>
    </div>
}