<!--Tabs-->
<div class="aside-tabs">
    <ul>
        <li  id="aside-tabs-edit" class="disabled">Edit</li>
        <li  id="aside-tabs-add" class="active">Add</li>
    </ul>    
</div>

<div id="aside-content">
    <!--Tabs content-->
    <div id="aside-add-container">
        @{ Html.RenderAction("GetAsideAddTab"); }
    </div>

</div>