@using Tasks.Service.Tasks.Dto
@model Tasks.ViewModels.Tasks.TasksViewModel

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">

            <table class="table table-striped table-hover ">
                <tbody id="thoughtResultsTableBody">
                @foreach (TaskDto task in Model.TaskList.OrderBy(x => x.SortId))
                {
                    
                    <tr data-thoughtid ="@thought.Id" data-sortid ="@thought.SortId">
                        <td class="col-xs-9">@thought.Description</td>
                        <td class="col-xs-3">
                            @thought.DateCreated.ToString("ddd dd MMM")
                            <span>
                                <button type="button" class ="close" aria-hidden="true" id="btnFunnel"><img src="~/Images/funnel.png"/></button>
                            </span>
                            <span>
                                <button type="button" class="close" aria-hidden="true" id="btnClose">&times;</button>
                            </span>
                        </td>
                    </tr>
                }

                </tbody>
            </table>

        </div>
    </div>
</div>