@using Tasks.Service.Tasks.Dto
@using Tasks.ViewModels.Tasks
@model Tasks.ViewModels.Tasks.TasksViewModel

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">

            <table class="table">
                <tbody id="taskResultsTableBody">
                @foreach (TaskViewModel task in Model.TaskList)
                {
                    <tr data-taskid="@task.Id">
                        <td>@task.Description</td>
                        <td>@task.TimeFrameDueString</td>                        
                    </tr>
                }
                </tbody>
            </table>

        </div>
    </div>
</div>