@using Tasks.ViewModels.Tasks
@model TasksViewModel
    
@{
    ViewBag.Heading = "Tasks";
}

<!--  -->
<h1>@ViewBag.Heading</h1>

<div class="input-group-btn">
    <button id="btnAddTask" type="submit" value="Create" class="btn btn-default">New Task</button>
</div>

<div id="addTaskContainer">
</div>

<div id="taskResultsTable">
    @Html.Partial("_TasksTable", Model)
</div>