:root {
    /* --- Global themes --- */
    --theme-green: #16e280;
    --theme-green-light: #30ff9b;
    --theme-green-xlight: #7fffc1;
    --theme-green-dark: #15d87a;
    --theme-blue-light: #00ffed;
    --theme-blue: #00E5D6;
    --theme-blue-dark: #00D8CA;
    --theme-white: #f7f7f7;
    --theme-grey: #e5e9ec;
    --theme-grey-dark: #626466;
    --theme-black: #363537;
    --theme-red: #ee6055;
    --theme-font-text: 'Scope One', serif;
    --theme-font-heading: 'Spectral SC', serif;
    /* --- Layout Specific Themes --- */
    /*Headings*/
    --heading-font: var(--theme-font-heading);
    --heading-font-color: var(--theme-green-dark);
    --heading-logo-font-color: var(--theme-grey-dark);
    /*Card*/
    --card-bg-color: var(--theme-white);
    /*Button*/
    --button-bg-color: var(--theme-green-light);
    --button-hover-bg-color: var(--theme-green);
    --button-font: var(--theme-font-text);
    --button-font-color: var(--theme-black);
    --button-font-size: 12px;
    /*Forms*/
    --input-line-height: 40px;
    --datepicker-selected: var(--theme-blue-light);
    --datepicker-hover: var(--theme-green-light);
    /*Shadow*/
    --shadow-card: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --shadow-side: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --shadow-header: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    --shadow-active-tab: -3px 5px 5px -3px rgba(0,0,0,0.16), -3px 5px 5px -3px rgba(0,0,0,0.23);
    --timeDropper: 0 0 0 1px #a9a9a9, 0px 2px 2px 3px rgba(0, 0, 0, 0.16);
}

/*
* ==================== HEADINGS ====================
*/

h1.logo {
    font-size: 30px;
}

h1 {
    font-family: var(--heading-font);
    color: var(--heading-logo-font-color);
    font-size: 20px;
}

h2, h3 {
    font-family: var(--heading-font);
    color: var(--heading-font);
    font-size: 16px;
}

/*
* ==================== BUTTONS ====================
*/

button {
    display: inline-block;
    font-family:var(--button-font);
    color:var(--button-font-color);
    background:var(--button-bg-color);
    font-size: var(--button-font-size);

    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 8px 10px;
    /*Not selectable*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*Shadow card height*/
    -moz-box-shadow: var(--shadow-card);
    -webkit-box-shadow: var(--shadow-card);
    box-shadow: var(--shadow-card);
    /*Rounded corners*/
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
    -moz-border-radius: 5px;
    /*Transition*/
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

    button:hover {
        background: var(--button-hover-bg-color);
        /*Transition*/
        -moz-transition: all 0s linear;
        -o-transition: all 0s linear;
        -webkit-transition: all 0s linear;
        transition: all 0s linear;
    }

/*
* ==================== CARDS ====================
*/


.card {
    display:inline-block;
    flex: 1 1 100%;
    width:100%;
    background: var(--card-bg-color);
    padding: 10px;    
    padding-bottom: 20px;
    margin: 10px;
    margin-bottom:15px;

    /*Shadow card height*/
    -moz-box-shadow: var(--shadow-card);
    -webkit-box-shadow: var(--shadow-card);
    box-shadow: var(--shadow-card);
    /*Transition*/
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

.table {
    
}


/*
* ==================== FORMS ====================
*/

/*
* ---------- Containers ----------
*/

.form-group {
    margin-bottom: 15px;
}

.input-container{
    display:flex;
    flex-direction:row;
    border: 0;
}
    .input-container > .input-item {
        flex: 1 1 100%;        
        height: var(--input-line-height);
    }
    
    /* Button
       Fixed width
    */
    .input-container > .input-item.button {
        flex: 0 0 auto;
        margin-left: 15px ;
        margin-right: 10px;
        height: 40px;
    }

/*
* ---------- Textbox ----------
*/

.textbox {
    color: var(--theme-black);
    opacity: 1;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: transparent;
    /*Transition*/
    -webkit-transition: border-color ease-in-out .3s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .3s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .3s, box-shadow ease-in-out .15s;
}

/*
* ---------- Separator ----------
*/

.hr-horizontal{
    border: 0;
    height: 1px;
    width: 80%;
    /* Old gradient colour http://colorzilla.com/gradient-editor/#e5e9ec+0,00ffed+35,16e280+50,30ff9b+65,e5e9ec+100 */
    /* Gradient colour: http://colorzilla.com/gradient-editor/#e5e9ec+0,626466+50,e5e9ec+100 */
    background: #e5e9ec; /* Old browsers */
    background: -moz-linear-gradient(left, #e5e9ec 0%, #626466 50%, #e5e9ec 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e5e9ec 0%,#626466 50%,#e5e9ec 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e5e9ec 0%,#626466 50%,#e5e9ec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e9ec', endColorstr='#e5e9ec',GradientType=1 ); /* IE6-9 */
}

.hr-vertical{
    border: 0;
    height: 80%;
    width: 1px;
    /* Gradient color: http://colorzilla.com/gradient-editor/#e5e9ec+0,626466+50,e5e9ec+100 */
    background: #e5e9ec; /* Old browsers */
    background: -moz-linear-gradient(top, #e5e9ec 0%, #626466 50%, #e5e9ec 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e5e9ec 0%,#626466 50%,#e5e9ec 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e5e9ec 0%,#626466 50%,#e5e9ec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e9ec', endColorstr='#e5e9ec',GradientType=0 ); /* IE6-9 */
    align-self: center;
    justify-self: center;
}

/*
* ---------- Drop down ----------
*/

Select {
    min-width: 100px;
    width: auto;
    margin-right: 5px;
}

/*
* ---------- Multi Toggle ----------
*/




/*
* ---------- jQuery DatePicker----------
*/

    /*Week picker*/
    .week-picker.selected a {
        background: var(--datepicker-selected) !important;
    }

.week-picker.hover a {
    background: var(--datepicker-hover);
}

    .ui-datepicker-week-col {
        font-weight: bold !important;
    }
    
    #ui-datepicker-div,
    #MonthPicker_timeframe-month
    {
        /*Shadow card height*/
        -moz-box-shadow: var(--shadow-card) !important;
        -webkit-box-shadow: var(--shadow-card) !important;
        box-shadow: var(--shadow-card) !important;
    }

    #td-clock-0 .td-clock {
        font-family: var(--heading-font);
        /*Shadow*/
        -moz-box-shadow: var(--timeDropper) !important;
        -webkit-box-shadow: var(--timeDropper) !important;
        box-shadow: var(--timeDropper) !important;
    }

/*
* ==================== TABLE ====================
*/
    .table {
}
table::before, table::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}