#content {
    /*Grid*/
    display: grid;
    grid-template-columns: [open] 20% [weekly] 80% [end];
    grid-template-rows: auto;
    grid-column-gap: 5px;
    width: 100%;
    height: 100%;
    
}

#open-container {
    grid-column-start: open;
    grid-column-end: weekly;
    width: auto;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;

    padding: 5px;    
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    /*
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    margin: 10px;
    min-width: 20%;
    
    */
}

    #open-container.card {

    }
    
#week-container {
        position: relative;
        width: auto;
        height: auto;
        /*Grid item*/
        grid-column-start: weekly;
        grid-column-end: end;
        /*Flex container*/
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        min-width: 30px;
        overflow-y: scroll;
    }
