#projectResultsTable {
    /*Grid container*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    z-index: 20;
}
    #projectResultsTable > .project-container {
        flex: 0 1 0;
        min-width: 150px;
        z-index: 22;
        
        display: flex;
        flex-direction: column;
        -ms-align-items: stretch;
        -o-align-items: stretch;
        -webkit-align-items: stretch;
        align-items: stretch;
    }

    #projectResultsTable > .project-container table {
        width: 100%;
        }

.projectRow {
    margin: 0;
    padding: 0;
    height: auto;   
    border: 1px solid black;
}