#addTask {
    z-index: 26;
}

#addTaskForm, #editTaskForm {
    z-index: 27;
}

    #addTaskForm select,
    #addTaskForm input {
        position: relative;
        z-index: 28;
    }

#taskResultsTableBody .selected {
    background: var(--selected);
}
