@using Tasks.Service.PlanWeek.Dto
@using Tasks.ViewModels.PlanWeek
@model PlanWeekViewModel

<!--Days-->
<div class="heading">
    <h1>In Week Items</h1>
</div>
<div class="plan">
    @foreach (KeyValuePair<DayOfWeek, ItemListDto> day in Model.inWeekItemsList.dayItems)
    {
        <div class="day card">
            <h1>@day.Key.ToString()</h1>
            <table>
                <tbody class="connectedSortable">
                <tr class="emptyTablePlaceholder"></tr>
                    
                @foreach (ItemDto item in day.Value.ItemDtos)
                    {
                        <tr data-taskid="@item.Id">
                            <td>
                                @item.Description
                                <input type="checkbox" />
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    }
</div>
