@using Tasks.ViewModels.PlanWeek
@model PlanWeekViewModel

@{
    ViewBag.Heading = "Plan Week";
}

<!--Open Items-->
<div id="open-container">
    @Html.Partial("_OpenItemsTable", Model.weekItemLists)
</div>

<!--Vertical Separator-->
<div class="separator">
    <hr class="hr-vertical" />    
</div>



<!--In Week Items-->
<div id="week-container">
    @Html.Partial("_WeekItemsTable", Model.weekItemLists)
</div>

<!--
    Toolbar Pane
        Selected Item
        Thoughts - Choose order
        Tasks - Due order, Overdue
        Habits - Next due date
        Projects
-->
