@using Tasks.ViewModels.PlanWeek
@model PlanWeekViewModel

@{
    ViewBag.Heading = "Plan Week";
}

<div class="plan-container debug">

    <div class="plan-pane-left debug">
        Draggable content
    </div>

    <!--Weekly tasks-->    
    <div id="weekPlanTable" class="plan-pane-middle debug">
        @Html.Partial("_WeekPlanTable", Model)
    </div>

    
    <!--End of Weekly Tasks -->

    <div class="plan-pane-right debug">
        Draggable content
    </div>

</div>

        <!--Side panel with draggable items-->

<!--End of Side panel-->