@model Tasks.ViewModels.Thoughts.ThoughtViewModel

<h1>Add a thought</h1>

@using (Html.BeginForm("Create", "Thoughts", FormMethod.Post, new { id = "addThoughtForm" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.TimeFrameId, new { @id = "Add_TimeFrameId" })
    @Html.HiddenFor(model => model.TimeFrameDateString, new { @id = "Add_Date" })

    <div class="input-group">
        <div class="input-container-text stretch pad-right">
            @Html.TextBoxFor(model => model.Description, new { @id = "add_description", PlaceHolder = "What's on your mind?..." })
            <span class="underline"></span>
        </div>
        <button id="btnAdd" class="pad-right fit">Add</button>
    </div>

    /*TimeFrame picker*/
    <div id="add-container-timeframe"></div>
}
