@using System.Web.UI.WebControls
@model Tasks.ViewModels.Thoughts.AddThoughtViewModel


<div class="card">

    @using (Html.BeginForm("Create", "Thoughts", FormMethod.Post, new {id = "addThoughtForm" }))
    {
        @Html.AntiForgeryToken()

            <div class="input-container">

                <div class="input-item textbox">
                    @Html.TextBoxFor(model => model.Description, new { @class = "textbox", PlaceHolder = "What's on your mind?..." })
                </div>

                <div class="input-item button">
                    <button id="btnAddThought" type="submit" value="Create">Add</button>
                </div>

            </div>        
    }
</div>
    
