@using Tasks.ViewModels.Thoughts

@model ThoughtsViewModel

@{
    ViewBag.Heading = "Thoughts Inbox";    
}

<!--Heading-->
<h1>@ViewBag.Heading</h1>

@Html.Partial("_AddThought", Model.NewThought)
<br />
<!--Table of Tasks-->
<div id="thoughtResultsTable">
    @Html.Partial("_ThoughtsTable",Model)
</div>





